<table class="table table-borderless w-auto summary-table ms-auto mb-0">
  <tr>
    <td class="text-muted">Total price without tax:</td>
    <td class="text-end fw-semibold"><%= @bill.calculated_total_without_tax %></td>
  </tr>
  <tr>
    <td class="text-muted">Total tax payable:</td>
    <td class="text-end fw-semibold"><%= @bill.calculated_total_tax %></td>
  </tr>
  <tr>
    <td class="text-muted">Net price of the purchased items:</td>
    <td class="text-end fw-semibold"><%= @bill.calculated_net_total %></td>
  </tr>
  <tr class="table-light">
    <td class="fw-semibold">Rounded down value of the purchased items net price:</td>
    <td class="text-end fw-semibold"><%= @bill.calculated_rounded_total %></td>
  </tr>
  <tr>
    <td class="text-muted">Cash paid by customer:</td>
    <td class="text-end fw-semibold"><%= @bill.cash_paid %></td>
  </tr>
  <tr class="table-light">
    <td class="fw-semibold">Balance payable to the customer:</td>
    <td class="text-end fw-bold text-primary"><%= @bill.calculated_balance_payable %></td>
  </tr>
</table>