<div class="table-responsive">
  <table class="table table-bordered align-middle mb-0 bill-items-table">
    <thead class="table-light">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Unit Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Purchased Price</th>
        <th scope="col">Tax % for Item</th>
        <th scope="col">Tax Payable</th>
        <th scope="col">Total Price</th>
      </tr>
    </thead>
    <tbody>
      <% @bill_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.unit_price %></td>
          <td><%= item.quantity %></td>
          <td><%= item.total_price %></td>
          <td><%= item.product.tax_percentage %></td>
          <td><%= item.tax_amount %></td>
          <td><%= item.total_price + item.tax_amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>